html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}

.hidden,#hidden{
    display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div,
a,
ul,
li{
    margin:0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
span{
    display: block;

}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}

img{
    width: 100%;
}

/* =========================================
HOME
*=========================================*/

#wrapper{
    /*background-image: url(http://simonsein.co/images/home1.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    min-height:100% ;
    position: absolute;
    width: 100%;
}

#video-back{
    height: 100%;
    position: absolute;
    width: 100%;
}

.body-two{
    background: url(http://simonsein.co/images/home1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
}

.body-three{
    background-image: url(http://simonsein.co/images/4slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;

}


header{
    background: black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.logo{
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    padding: 12px 60px;
    width: 120px;
    height: 100%;
}

.logo:hover{
    opacity: 0.6;
}

.part-end{
    float: right;
    height: 100%;
}

.social{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 200px;
}

.social figure{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    text-align: center;
    width: 45px;
}

.social figure img{
    margin-top: 10px;
    width: 82%;
}

.social figure img:hover{
    opacity: 0.6;
}

.menu{
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 150px;
}

.menu:hover{
    opacity: 0.6;
}

.menu .figu-menu{
    display: inline-block;
    padding-top: 16px;
    vertical-align: top;
    width: 30px;

}

.menu .figu-menu span{
    background: white;
    height: 3px;
    margin-top: 5px;
    width: 100%;
}

.menu p{
    color: white;
    display: inline-block;
    margin: 22px 10px;
}

#video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

nav{
    background-color: rgb(23, 22, 22);
    display: none;
    height: 0;
    opacity: 0;
    overflow: scroll;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 9;
}

nav > ul{
    margin: auto;
    padding-left: 200px;
    position: relative;
    top:10%;
    text-align: center;
    width: 70%;
}

nav >  ul > section{
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

nav ul li{
    height: 60px;
    list-style: none;
    text-align: justify;
    width: 80%;
    line-height: 4;
}

nav ul li:hover{
    background: black;
}

nav a{
    color: white;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}



nav a:hover{

    color: rgba(255, 255, 255, 0.78);
}

nav > ul > section > li > span{
    display: inline-block;
    height: 50px;
    margin-left: 10px;
    width: 50px;

}

.bombillo{
    background: url("../images/bombillo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.tv{
    background: url("../images/tv.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.camara{
    background: url("../images/camara.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.corazon{
    background: url("../images/corazon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.lapiz{
    background: url("../images/lapiz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.buzon{
    background: url("../images/buzon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

nav > ul > section > li > a{
    display: inline-block;
    vertical-align: top;
}

nav > ul > section > li > ul{
    margin-left: 20px;
}

#social{
    float: left;
}

#social a{
    margin: 0;
    padding: 0;
}

.sub-menu li a{
    margin-left: 70px;
}

/* =========================================
FOOTER
*=========================================*/

footer{
    background: black;
    bottom: 0px;
    height: 40px;
    position: absolute;
    width: 100%;
}

/* =========================================
CONTENIDO POR CUADRICULA
*=========================================*/

.content-one{
    background: black;
    color: white;
    height: 100%;
    position: absolute;
    width: 100%;
}

.content-menu{
    background: #2a2a2a;
    display: inline-block;
    height: 100%;
    overflow: scroll;
    width: 250px;
}

.content-body{
    background: #1C1C1C;
    display: inline-block;
    height: 100%;
    margin-left: -6px;
    overflow: scroll;
    vertical-align: top;
    width:calc( 100% - 250px);
}

.content-body h1{
    color: white;
    margin-top: 60px;
    padding: 20px;
}

.content-body-line{
}

.content-body-line > section{
    display: inline-block;
    margin-right: -4px;
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.content-body-line > section > figure{
    cursor: pointer;
    margin: auto;
    width: 90%;
}

.content-body-line > section > figure > img{
    position: relative;
    -webkit-filter: grayscale(100%);
}

.content-body-line > section > figure > img:hover{
    -webkit-filter: grayscale(0%);
}

.content-body-line > section > figure > section{
    background-color: rgba(35, 35, 35, 0.99);
    height: 60px;
    position: relative;
    top: -50px;
}

.content-body-line > section > figure > section >p{
    font-size: 15px;
    font-weight: 100;
    padding: 10px;
    text-align: justify;
}

.content-sub-menu{
    background-color: #1F1E1E;
    padding-top: 120px;
}

.content-sub-menu figure{
    text-align: center;
    padding-bottom: 63px;
}

.content-sub-menu figure img{
    width: 50%;
}

.content-sub-menu > a{
    background-color: #1F1E1E;
    border: 1px solid black;
    cursor: pointer;
    color: white;
    display: block;
    font-weight: 100;
    height: 45px;
    line-height: 3;
    margin-top: -1px;
    padding-left: 25px;
    width: 90%;
}

.content-sub-menu > a:hover{
    border-left: 5px solid white;
    text-decoration: underline;
}

.pop-up-content{
    display: none;
    height: 0;
    opacity: 0;
}

.pop-up-content > span{
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 26px;
    height: 30px;
    line-height: 1;
    margin: 0 20px;
    width: 30px;
    text-align: center;
}

.pop-up-content > figure{
    display: inline-block;
    padding: 0px 50px 40px;
    text-align: end;
}

.pop-up-content > section{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    width: calc(100% - 1000px);

}

.pop-up-content > section > h2{
    line-height: 0;
}

.pop-up-content > section > p{
    font-weight: 100;
}

/* =========================================
ANIMACIONES
*=========================================*/


.animated {
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
    animation-duration: 2s;
}

@-webkit-keyframes moveRight {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px)
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.animation1 {
    -webkit-animation-name: drawde;
    animation-name: drawde;
    animation-duration: 2s;
}

@-webkit-keyframes drawde {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    100% {

        opacity: 0;
    -webkit-transform: translateY(-100%);
        display: none;
    }
}

@keyframes drawde {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {

        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}


/*
.content-body-line:nth-of-type(1) > section:nth-of-type(1){
    display: none!important;
}*/