html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    background: #1C1C1C;
    margin: 0;
}

.hidden,#hidden{
    display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div,
a,
ul,
li{
    margin:0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
span{
    display: block;

}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background-color: transparent;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}

img{
    width: 100%;
}

/* =========================================
HOME
*=========================================*/

#wrapper{
    /*background-image: url(http://simonsein.co/images/home1.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;*/
    min-height:100% ;
    position: absolute;
    width: 100%;
}

#video-back{
    height: 100%;
    position: absolute;
    width: 100%;
}

.body-two{
    background: url(http://simonsein.co/images/home1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;
}

.body-three{
    background-image: url(http://simonsein.co/images/4slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    width: 100%;

}


header{
    background: black;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.logo{
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    padding: 12px 40px;
    width: 120px;
    height: 100%;
}

.logo:hover{
    opacity: 0.6;
}

.part-end{
    float: right;
    height: 100%;
}

.social{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 200px;
}

.social figure{
    display: inline-block;
    height: 100%;
    vertical-align: top;
    text-align: center;
    width: 45px;
}

.social figure img{
    margin-top: 10px;
    width: 82%;
}

.social figure img:hover{
    opacity: 0.6;
}

.menu{
    cursor: pointer;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 150px;
}

.menu:hover{
    opacity: 0.6;
}

.menu .figu-menu{
    display: inline-block;
    padding-top: 16px;
    vertical-align: top;
    width: 30px;

}

.menu .figu-menu span{
    background: white;
    height: 3px;
    margin-top: 5px;
    width: 100%;
}

.menu p{
    color: white;
    display: inline-block;
    margin: 22px 10px;
}

#video{
    position: fixed;
    top: 50%;
    left: 50%!important;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-repeat:no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

nav{
    background-color: rgb(23, 22, 22);
    display: none;
    height: 0;
    opacity: 0;
    overflow: scroll;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 9;
}

nav > ul{
    margin: auto;
    position: relative;
    top:4%;
    text-align: center;
    width: 70%;
}

nav >  ul > section{
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    width: 50%;
}

nav ul li{
    height: 60px;
    list-style: none;
    margin: auto;
    text-align: justify;
    width: 350px;
    line-height: 4;
}

nav ul li:hover{
    background: black;
}

nav a{
    color: white;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}



nav a:hover{

    color: rgba(255, 255, 255, 0.78);
}

nav > ul > section > li > span{
    display: inline-block;
    height: 50px;
    margin-left: 10px;
    width: 50px;

}

.bombillo{
    background: url("../images/bombillo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.tv{
    background: url("../images/tv.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.camara{
    background: url("../images/camara.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.corazon{
    background: url("../images/corazon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.lapiz{
    background: url("../images/lapiz.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

.buzon{
    background: url("../images/buzon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 16px;
}

nav > ul > section > li > a{
    display: inline-block;
    vertical-align: top;
}

nav > ul > section > li > ul{
    margin-left: 20px;
}

#social{
    float: left;
}

#social a{
    margin: 0;
    padding: 0;
}

.sub-menu li a{
    margin-left: 70px;
}

/* =========================================
FOOTER
*=========================================*/

footer{
    background: black;
    bottom: 0px;
    height: 40px;
    position: absolute;
    width: 100%;
}

/* =========================================
CONTENIDO POR CUADRICULA
*=========================================*/

.content-one{
    background: black;
    color: white;
    height: 100%;
    position: absolute;
    width: 100%;
}

.content-menu{
    background: #2a2a2a;
    display: inline-block;
    height: 100%;
    margin-right: -6px;
    width: 250px;
}

.content-body{
    background: #1C1C1C;
    display: inline-block;
    height: 100%;
    margin-left: -6px;
    overflow: scroll;
    vertical-align: top;
    width:calc( 100% - 250px);
}

.content-body h1{
    color: white;
    margin-top: 60px;
    padding: 20px;
}

.content-body-line{
}

.content-body-line > section{
    display: inline-block;
    margin-right: -6px;
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.content-body-line > section > figure{
    cursor: pointer;
    margin: auto;
    width: 90%;
}

.content-body-line > section > figure > img{
    position: relative;
    -webkit-filter: grayscale(80%);
}

.content-body-line > section > figure > img:hover{
    -webkit-filter: grayscale(0%);
}

.content-body-line > section > figure > section{
    background-color: rgba(35, 35, 35, 0.99);
    position: relative;
    top: -50px;
}

.content-body-line > section > figure > section >p{
    font-size: 13px;
    font-weight: 100;
    padding: 10px;
    text-align: justify;
}

.content-sub-menu{
    background-color: #1F1E1E;
    padding-top: 120px;
}

.content-sub-menu figure{
    text-align: center;
    padding-bottom: 63px;
}

.content-sub-menu figure img{
    width: 50%;
}

.content-sub-menu > a{
    background-color: #1F1E1E;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    color: white;
    display: block;
    font-weight: 100;
    height: 45px;
    line-height: 3;
    margin-top: -1px;
    padding-left: 18px;
    width: 90%;
}

.content-sub-menu > a:hover{
    border-left: 5px solid white;
    text-decoration: underline;
}

.pop-up-content{
    display: none;
    height: 0;
    opacity: 0;
}

.pop-up-content > span{
    background-color: rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 26px;
    height: 30px;
    line-height: 1;
    margin: 0 20px;
    position: relative;
    width: 30px;
    text-align: center;
}

.pop-up-content > figure{
    display: inline-block;
    height: 350px;
    padding: 0px 50px 40px;
    text-align: end;
    width: 45%;
}


.pop-up-content > figure > iframe,.pop-up-content > figure > img{
    height: 100%;
    width: 100%;
}

.pop-up-content > section{
    display: inline-block;
    margin-right: -6px;
    vertical-align: top;
    text-align: justify;
    width: 35%;

}

.pop-up-content > section > h2{
    line-height: 0;
}

.pop-up-content > section > p{
    font-weight: 100;
    font-size: 11px;
}

/* =========================================
Contacto
*=========================================*/

#contact{
    margin: 70px auto;
    width: 80%;
}

form{
    background: #333333;
    display: inline-block;
    float: left;
    margin-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    width: 48%;
}

form label{
    display: block;
    margin:10px auto;
    text-align: justify;
    width: 90%;
}

form p{
    color: red;
    font-size: 12px;
    font-weight: 100;
    margin: auto;
    text-align: justify;
    width: 90%;

}

form input{
    margin: 10px auto;
    height: 30px;
    width: 90%;

}

form textarea{
    height: 100px;
    width: 90%;
}

input[type="submit"]{
    border: none;
    background-color: #c4261e;
    color: rgb(220, 218, 218);
    font-size: 24px;
    height: 50px;
    margin-bottom: 20px;
    width: 91%;
}

input[type="submit"]:hover{
    background: rgba(196, 38, 30, 0.69);
    color: white;
}

#data-simon{
    background: #333333;
    display: inline-block;
    float: right;
    margin-left: -5px;
    width: 48%;
}

#data-simon p{
    font-weight: 100;
    text-align: center;
    width: 100%;
}

#data-simon p img{
    width: 40px;
}

/* =========================================
QUIÉNES SOMOS
*=========================================*/

.quienes{
    background: #333333;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 90%;
}

.quienes figure{
    display: inline-block;
    vertical-align: top;
    width: 53%;
}

.quienes p{
    display: inline-block;
    font-size: 18px;
    font-weight: 100;
    line-height: 2;
    margin: auto;
    padding: 0 10px;
    text-align: justify;
    vertical-align: top;
    width: 45%;
}

/* =========================================
Clientes
*=========================================*/

.client{
    background-color: #232323;
    padding-bottom: 40px;
    min-height: 100vh;
    width: 100%;
}

.wrapper-client{
    margin: auto;
    padding-top: 100px;
    width: 1100px;
}

.wrapper-client h2{
    color: white;
}

.wrapper-client a{
    text-decoration: none;
}

.wrapper-client section{
    background: #333333;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    vert-align: top;
    width: 24%;
}

.wrapper-client section > figure{
    border-bottom: 1px solid black;
    height: 300px;
    line-height: 24;
}

.wrapper-client section > div > p{
    color: white;
    font-weight: 100;
    font-size: 15px;
    padding: 10px;
}

.wrapper-client section > div > a{
    background-color: black;
    color: white;
    display: block;
    height: 45px;
    line-height: 3;
    margin: 0 auto 19px;
    width: 90%;
}

.wrapper-client section > div > a:hover{
    background: #3C3C3C;
}

.wrapper-client > section > figure > img{
    width: 50%;
}

/* =========================================
ANIMACIONES
*=========================================*/


.animated {
    -webkit-animation-name: moveRight;
    animation-name: moveRight;
    animation-duration: 2s;
}

@-webkit-keyframes moveRight {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px)
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.animation1 {
    -webkit-animation-name: drawde;
    animation-name: drawde;
    animation-duration: 2s;
}

@-webkit-keyframes drawde {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    100% {

        opacity: 0;
    -webkit-transform: translateY(-100%);
        display: none;
    }
}

@keyframes drawde {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {

        opacity: 0;
        transform: translateY(-100%);
        display: none;
    }
}

/* =========================================
media de 1100
*=========================================*/

@media only screen and (max-width: 1100px) {
    .wrapper-client{
        text-align: center;
        width: 100%;
    }
}

/* =========================================
media de 800
*=========================================*/

@media only screen and (max-width: 800px) {

    .menu p{
        display: none;
    }

    .menu{
        width: 70px;
    }

    #contact{
        width: 95%;
    }

    form{
        width: 49%;
    }

    #data-simon{
        width: 49%;
    }

    .content-menu,.pop-up-content > section > h2{
        display: none;
    }

    .content-body,.quienes figure{
        width: 100%;
    }

    .quienes p{
        padding: 0;
        width: 100%;
    }

    .pop-up-content > figure{
        width: 85%;
    }

    .pop-up-content > section > p{
        display: none;
    }

    nav > ul{
        padding: 0;
        width: 100%;
    }

    nav > ul > section{
        width: 100%;
    }

    nav ul li{
        font-size: 28px;
        line-height: 2;
        text-align: center;
        width: 100%;
    }

    .wrapper-client section > div > p{
        height: 35px;
    }

    .wrapper-client section > figure{
        height: 200px;
        line-height: 16;
    }
}

/* =========================================
media de 500
*=========================================*/

@media only screen and (max-width: 500px) {
    .social{
        display: none;
    }

    .content-body-line > section > figure > img{
        display: none;
    }

    .content-body-line > section{
        width: 100%;
    }

    .content-body-line > section > figure > section >p{
        font-size:22px;
    }

    .pop-up-content{
        background: black;
        padding-bottom: 40px;
        position: fixed;
        top: 10%;
        z-index: 2;

    }

    .pop-up-content > span{
        border-radius: 25px;
        height: 50px;
        line-height: 1.9;
        width: 50px;
    }

    .wrapper-client section{
        width: 90%;
    }

    .wrapper-client section > figure {
        height: 250px;
        line-height: 23;
    }

    .wrapper-client section > div > p{
        font-size: 25px;
    }

    .wrapper-client section > div > a{
        font-size: 30px;
        line-height: 2.6;
        height: 70px;
    }

    form,#data-simon{
        font-size: 22px;
        width: 99%;
    }

    nav > ul > section:nth-of-type(1) > li:nth-of-type(2){
        height: 120px;
        line-height: 1;
    }

    nav > ul > section:nth-of-type(1) > li:nth-of-type(1){
        height: 100px;
        line-height: 1;
    }
    .sub-menu li a{
        margin: 0;
    }
}




